# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environnement virtuel
puissance_env/
.env/

# Jupyter Notebooks
.ipynb_checkpoints/

# Fichiers système
.DS_Store
Thumbs.db

# Modèles et fichiers lourds
*.pkl
*.h5
*.joblib

# VS Code
.vscode/

#Fichier supplemmentaire a ignorer
Idée de jeux_Projet python.docx
remarque.txt